.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    padding-top: 4em;
}


.searchInputs {
    display: flex;
    padding-top: 1.5em;
}



.search input {
    background-color: #fff;
    border: none;
    height: 40px;
    width: 55vw;
}

.searchIcon {
    background-color: #fff;
    color: rgb(118, 118, 118);
    width: 30px;
    display: grid;
    padding-top: 2px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchIcon svg {
    background-color: #fff;
    font-size: 35px;
}

input:focus {
    outline: none;
}

.dataResult {
    margin-top: 5px;
    width: 59vw;
    height: 200px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    overflow: hidden;
    overflow-y: auto;
}

.dataResult::-webkit-scrollbar {
    display: none;
}

.dataResult .dataItem {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    color: black;
}

.dataItem p {
    margin-left: 10px;
}
a {
    text-decoration: none;
}

a:hover {
    background-color: lightgrey;
}

.closeIcon {
    background-color: #fff;
    font-size: 35px;
    cursor: pointer;
    color: rgb(118, 118, 118);
    padding: -3px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}